<div class="jumbotron">

	<center>
		<h1>Welcome to my Donut Shoppe</h1>

		<img src="http://static1.squarespace.com/static/538ce9d9e4b048da1be230f2/t/5582e7f4e4b0f41637edfd43/1434642421338/Donuts+with+Dad+Pics">
		<br>

		<%= link_to "Check out our Donuts!", donuts_path, class: "btn btn-default" %>
	</center>
</div>